{% extends 'main/MainLayout.html' %} {% load static %} {% block content %}

<style>
    .form-text {
        display: none;
    }
    .invalid-feedback{
        color: rgb(247, 0, 0);
    }
</style>

<div class="card pagetitle p-3">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
  {% if messages %}
                <div class="mb-4">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
<section class="section profile">
    <div class="row">
        
        
        <div class="container text-white card">
            
            <div class="row justify-content-center">
                <div class="col-md-8 p-4" style='color: #fff'>
                    {% if messages %}
                        <div class="mb-4">
                            {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <strong>{{message}}</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% load crispy_forms_tags %}
        
                    <h2>Change Password</h2>
                    <form method="post" class='text-black'>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
  </section>

</div>
<!-- End Page Title -->

{% endblock content %}



